Package: com.pixelomer.u0sileo
Name: Sileo Installer
Pre-Depends: curl, coreutils-bin, coreutils, uikittools, dpkg
Depends: firmware (>=11.0)
Version: 0.4b2
Architecture: iphoneos-arm
Description: Sileo installer for unc0ver
  This is a simple tool that downloads Sileo from Coolstar's repository and installs it.
  Comes with a tweak to prevent Cydia from seeing duplicate sources.
  Requires iOS 11 or higher and unc0ver. Does not fix other bugs in Sileo.
Maintainer: PixelOmer
Author: PixelOmer
Section: Utilities
